{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Home</h1>

<h5>Welcome</h5>
<p id="welcome">This is your home page, select the kind of task you want to perfom</p>

<div align="center"> 
    <div class="row row-content">
        <div class="col-sm-12 col-md-6 mb-3">
            <a class="btn btn-secondary" href="/notes" role="button" id="button-notes">Manage your Notes</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <a class="btn btn-secondary" href="/wall-designs" role="button" id="button-designs">Manage your Designs</a>
        </div>
    </div>
</div>

{% endblock %}
